
.finger-board {
    display: flex;
    flex-wrap: nowrap;
    width: 500px;
}

.string-area {
    width: 30px;
    height: 30px;
    margin: 0;
}

.string-area:hover {
    background-color: lightgray;
}

.string {
    position: relative;
    top: 50%;
    margin: 0;
    width: 30px;
    height: 2px;
    background-color: black;
}

.flet {
    position: relative;
    top: 15px;
    width: 2px;
    height: 152px;
    background-color: black;
}

.nut {
    position: relative;
    top: 15px;
    width: 4px;
    height: 152px;
    background-color: black;
}

